@use "sass:math";
@use "/src/scss/base/mixins.scss";
@use "/src/scss/variables.scss";

.top-header {
  background-color: var(--plate-bg-color);

  &__container {
    display: flex;
    align-items: center;
    gap: mixins.toRem(23);
    padding-top: mixins.toRem(10);
    padding-bottom: mixins.toRem(10);
  }

  &__city {
    .select-city__block {
      display: flex;
      align-items: center;
      gap: mixins.toRem(6);
      color: var(--accent-color);
      font-weight: 500;
      font-size: mixins.toRem(14);

      .loaded & {
        transition: color 0.3s ease 0s;
      }

      @media (any-hover: hover) {
        &:hover {
          color: var(--accent-hover-color);
        }
      }

      @media (width < #{mixins.toEm(variables.$mobileSmall)}) {
        color: var(--grey-color);
        font-size: mixins.toRem(13);
      }
    }
  }

  &__menu {
    flex: 1 1 auto;
  }

  &__actions {
    display: flex;
    align-items: center;
    font-size: mixins.toRem(14);
    gap: mixins.toRem(10);

    @media (width < #{mixins.toEm(variables.$pc)}) {
      margin-left: auto;
    }
  }

  &__mail {
    color: var(--accent-color);

    .loaded & {
      transition: color 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent-hover-color);
        text-decoration: underline;
      }
    }

    @media (width < #{mixins.toEm(600)}) {
      display: none;
    }
  }

  &__callback {
    font-weight: 600;
    color: var(--accent-color);

    .loaded & {
      transition: color 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent-hover-color);
      }
    }

    @media (width < #{mixins.toEm(variables.$mobileSmall)}) {
      display: none;
    }
  }

  // &__wa {
  //   padding: 0 0 0 mixins.toRem(9);
  //   color: var(--grey-color);
  //   display: flex;
  //   align-items: center;
  //   gap: mixins.toRem(5);

  //   @media (width < #{mixins.toEm(variables.$mobileSmall)}){
  //     display: none;
  //   }
  // }
}

.menu-top-header {
  display: flex;

  @media (#{mixins.toEm(variables.$pc)} < width < #{mixins.toEm(1500)}) {
    justify-content: center;
  }

  @media (width < #{mixins.toEm(variables.$pc)}) {
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: mixins.toRem(14);
    }
  }

  &__item {
    font-size: mixins.toRem(14);

    @media (width >=#{mixins.toEm(variables.$pc)}) {
      z-index: 2;
      position: relative;

      &:hover {
        .menu-top-header__dropdown {
          opacity: 1;
          pointer-events: all;
        }

        .menu-top-header__link {
          color: var(--accent-hover-color);

          &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75 3.625L5.5 7.375L9.25 3.625' stroke='%230E61AE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }

    @media (width < #{mixins.toEm(variables.$pc)}) {
      font-size: mixins.toRem(16);
      font-weight: 500;
      line-height: math.div(22, 16);
    }
  }

  &__link {
    padding: 0 mixins.toRem(11);
    display: flex;
    align-items: center;
    gap: mixins.toRem(6);
    color: var(--grey-color);

    .loaded & {
      transition: color 0.3s ease 0s;
    }

    &:has(+.menu-top-header__dropdown) {
      &::after {
        content: '';
        width: mixins.toRem(11);
        height: mixins.toRem(11);
        flex: 0 0 mixins.toRem(11);
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75 3.625L5.5 7.375L9.25 3.625' stroke='%23666666' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        transition: all 0.3s ease 0s;
      }
    }

    @media (width < #{mixins.toEm(1500)}) {
      padding: 0 mixins.toRem(8);
    }

    @media (width < #{mixins.toEm(variables.$pc)}) {
      justify-content: space-between;
      height: mixins.toRem(46);
      padding: mixins.toRem(12) mixins.toRem(16);
      color: var(--black-color);

      &::after {
        content: '';
        rotate: -90deg;
      }
    }
  }

  &__dropdown {
    .loaded & {
      transition: all 0.3s ease 0s;
    }

    @media (width >=#{mixins.toEm(variables.$pc)}) {
      position: absolute;
      top: calc(100% + mixins.toRem(8));
      background-color: var(--white-color);
      border-radius: mixins.toRem(10);
      padding: mixins.toRem(8);
      display: flex;
      flex-direction: column;
      min-width: mixins.toRem(216);
      width: 100%;
      opacity: 0;
      pointer-events: none;
      gap: mixins.toRem(4);
      box-shadow:
        mixins.toRem(0) mixins.toRem(20) mixins.toRem(25) mixins.toRem(-5) #0000000D,
        mixins.toRem(0) mixins.toRem(10) mixins.toRem(10) mixins.toRem(-5) #00000005;

      &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: mixins.toRem(8);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: 1;
        pointer-events: all;
      }
    }

    @media (width < #{mixins.toEm(variables.$pc)}) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: mixins.toRem(20) mixins.toRem(40);
      background-color: var(--white-color);
      translate: 100%;
      pointer-events: none;

      ._active & {
        translate: none;
        pointer-events: all;
      }
    }
  }

  &__back {
    display: flex;
    gap: mixins.toRem(10);
    font-size: mixins.toRem(12);
    line-height: 1.2;
    color: var(--grey-color);

    &:not(:last-child) {
      margin-bottom: mixins.toRem(16);
    }

    &::before {
      content: '';
      display: block;
      flex: 0 0 mixins.toRem(14);
      width: mixins.toRem(14);
      height: mixins.toRem(14);
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.31689 7.00041L9.20428 9.88773L8.37933 10.7127L4.66699 7.00041L8.37933 3.28809L9.20428 4.11304L6.31689 7.00041Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    }
  }

  &__sublink {
    display: block;
    padding: mixins.toRem(8) mixins.toRem(14);
    border-radius: mixins.toRem(5);
    font-size: mixins.toRem(14);
    line-height: math.div(20, 14);

    &:not(:last-child) {
      margin-bottom: mixins.toRem(4);
    }

    .loaded & {
      transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--plate-bg-color);
        color: var(--accent-color);
      }
    }
  }
}

//==========================================================================================
.middle-header {
  background-color: var(--white-color);

  &__container {
    padding-top: mixins.toRem(16);
    padding-bottom: mixins.toRem(16);
    display: flex;
    align-items: center;
    gap: mixins.toRem(18);

    @media (width < #{mixins.toEm(1500)}) {
      gap: mixins.toRem(14);
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: mixins.toRem(12);
    font-size: mixins.toRem(13);
    line-height: math.div(16, 13);

    span {
      opacity: 0.4;
    }

    @media (#{mixins.toEm(1279)} < width < #{mixins.toEm(1500)}) {
      flex: 0 0 mixins.toRem(210);
    }

    @media (width < #{mixins.toEm(1500)}) {
      font-size: mixins.toRem(12);

      img {
        max-width: mixins.toRem(83);
      }
    }

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      img {
        max-width: mixins.toRem(77);
      }
    }
  }

  &__search {
    flex: 1 1 auto;
  }

  &__callback {
    display: grid;
    grid-template-columns: mixins.toRem(22) auto;
    gap: mixins.toRem(7) mixins.toRem(6);
    align-items: center;

    span {
      grid-column: 1 / span 2;
      font-size: mixins.toRem(12);
      line-height: math.div(16, 12);
      color: var(--grey-color);
      white-space: nowrap;
    }

    i {
      display: flex;
      justify-content: center;
      align-items: center;

      @media (width < #{mixins.toEm(variables.$tablet)}) {
        svg {
          width: mixins.toRem(18);
          height: mixins.toRem(18);
          flex: 0 0 mixins.toRem(18);
        }
      }
    }

    p {
      font-weight: 600;
      font-size: mixins.toRem(20);
      line-height: math.div(24, 20);
      white-space: nowrap;

      .loaded & {
        transition: color 0.3s ease 0s;
      }

      @media (width < #{mixins.toEm(variables.$tablet)}) {
        font-size: mixins.toRem(14);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        p {
          color: var(--accent-color);
        }
      }
    }
  }

  &__actions {
    display: flex;
  }

  &__action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: mixins.toRem(4);
    position: relative;
    padding: 0 mixins.toRem(7);
    font-size: mixins.toRem(12);
    line-height: math.div(18, 12);
    transition: color 0.3s ease 0s;

    @media (width >=#{mixins.toEm(variables.$pc)}) {
      min-width: mixins.toRem(80);
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent-color);
      }
    }

    i {
      --bgc: var(--red-color);
      position: absolute;
      width: mixins.toRem(16);
      height: mixins.toRem(16);
      background-color: var(--bgc);
      color: var(--white-color);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-style: normal;
      border: mixins.toRem(2) solid var(--white-color);
      font-size: mixins.toRem(8);
      top: 0;
      right: 50%;
      translate: 100% -25%;

      &:empty {
        display: none;
      }
    }

    strong {
      font-size: mixins.toRem(13);
      font-weight: 500;
    }
  }
}

.search-header {
  border-radius: mixins.toRem(15);
  border: mixins.toRem(1) solid var(--stroke-color);
  padding: mixins.toRem(16) mixins.toRem(20);

  @media (width < #{mixins.toEm(variables.$mobile)}) {
    font-size: mixins.toRem(14);
    padding: mixins.toRem(14);
    border-radius: mixins.toRem(12);
  }

  &,
  &>form {
    align-self: stretch;
    position: relative;
    display: flex;
    flex: 1 1 auto;
  }

  &__input {
    outline: none;
  }

  &__submit {
    color: var(--grey-color);

    .loaded & {
      transition: color 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent-color);
      }
    }
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + mixins.toRem(16));
    width: 100%;
    min-width: mixins.toRem(400);
    padding: mixins.toRem(20);
    border-radius: mixins.toRem(15);
    z-index: 2;

    max-height: calc(100dvh - var(--headerHeight));
    overflow: clip auto;

    background-color: var(--white-color);
    box-shadow:
      mixins.toRem(5) mixins.toRem(0) mixins.toRem(20) mixins.toRem(0) #071C2F08,
      mixins.toRem(0) mixins.toRem(5) mixins.toRem(30) mixins.toRem(0) #071C2F0D;

    h3 {
      font-weight: 600;
      font-size: mixins.toRem(16);
      line-height: math.div(22, 16);

      &:not(:last-child) {
        margin-bottom: mixins.toRem(12);
      }
    }

    &::-webkit-scrollbar {
      width: mixins.toRem(5);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--accent-color);
      border-radius: mixins.toRem(5);
    }

    @media (width >=#{mixins.toEm(variables.$tablet)}) {
      left: 0;
    }

    @media (width < #{mixins.toEm(variables.$tablet)}) {
      right: 0;
    }

    @media (width < #{mixins.toEm(420)}) {
      min-width: calc(100vw - mixins.toRem(20));
    }
  }

  &__segment {
    &:not(:last-child) {
      margin-bottom: mixins.toRem(16);
    }
  }

  &__hint {
    display: flex;
    align-items: center;
    gap: mixins.toRem(10);
    padding: mixins.toRem(11) mixins.toRem(14);
    --svg-color: var(--grey-color);
    --span-color: var(--black-color);

    .loaded & {
      transition: all 0.3s ease 0s;
    }

    svg {
      color: var(--svg-color);
    }

    span {
      color: var(--span-color);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--plate-bg-color);
        --svg-color: var(--accent-color);
        --span-color: var(--accent-color);
      }
    }
  }

  &__product {
    padding: mixins.toRem(12);
    border: mixins.toRem(1) solid var(--plate-bg-color);
    border-radius: mixins.toRem(15);
    display: grid;
    grid-template-columns: mixins.toRem(80) auto mixins.toRem(24);
    gap: mixins.toRem(8) mixins.toRem(16);
    align-items: center;
    position: relative;

    &:not(:last-child) {
      margin-bottom: mixins.toRem(6);
    }

    @media (any-hover: hover) {
      &:hover {
        .search-header__productname {
          color: var(--accent-color);
        }
      }
    }
  }

  &__productlink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__productimage {
    grid-row: 1 / span 3;
  }

  &__productchapter {
    grid-column-start: 2;
    color: var(--grey-color);
    font-size: mixins.toRem(14);
    line-height: 1.4;
  }

  &__productname {
    grid-column-start: 2;
    margin-bottom: auto;
    font-weight: 600;
    font-size: mixins.toRem(16);
    line-height: 1.2;

    .loaded & {
      transition: color 0.3s ease 0s;
    }
  }

  &__productprices {
    grid-column-start: 2;
    display: flex;
    margin-top: auto;
    align-items: flex-end;
    gap: mixins.toRem(10);
  }

  &__productprice {
    font-weight: 700;
    font-size: mixins.toRem(18);

    &:has(+.search-header__productoldprice) {
      color: var(--red-color);
    }
  }

  &__productoldprice {
    font-weight: 500;
    font-size: mixins.toRem(14);
    color: var(--grey-color);
    text-decoration: line-through;
  }

  &__productfav {
    position: absolute;
    top: mixins.toRem(12);
    right: mixins.toRem(12);

    color: var(--grey-color);
    z-index: 2;

    .loaded & {
      transition: color 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent-color);
      }
    }
  }
}

//==========================================================================================
.bottom-header {
  background-color: var(--white-color);

  @media (width < #{mixins.toEm(variables.$pc)}) {
    display: none;
  }

  &__container {
    display: flex;
    gap: mixins.toRem(18);
  }

  &__catbtn {
    background-color: var(--accent-color);
    color: #fff;
    border-radius: mixins.toRem(15);
    height: mixins.toRem(50);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: mixins.toRem(14);
    font-weight: 500;
    font-size: mixins.toRem(16);
    line-height: 1.2;
    padding: mixins.toRem(15) mixins.toRem(30);

    i {
      flex: 0 0 mixins.toRem(17);
      width: mixins.toRem(17);
      height: mixins.toRem(17);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        .loaded & {
          transition: all 0.3s ease 0s;
        }

        &:last-child {
          opacity: 0;
        }
      }
    }

    .loaded & {
      transition: background-color 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--accent-hover-color);
      }
    }

    .catalog-open & {
      background-color: var(--green-accent-color);

      i svg {
        rotate: -90deg;

        &:first-child {
          opacity: 0;
        }

        &:last-child {
          opacity: 1;
        }
      }
    }

    @media (width < #{mixins.toEm(variables.$pc)}) {
      padding: mixins.toRem(14) mixins.toRem(18);
    }
  }

  &__menu {
    min-width: 0;
  }
}

.icon-menu {
  width: mixins.toRem(48);
  flex: 0 0 mixins.toRem(48);
  border-radius: mixins.toRem(15);
  aspect-ratio: 1;
  background-color: var(--plate-bg-color);
  position: relative;
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    flex: 0 0 mixins.toRem(17);
    width: mixins.toRem(17);
    height: mixins.toRem(17);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;

      .loaded & {
        transition: all 0.3s ease 0s;
      }

      &:last-child {
        opacity: 0;
      }
    }
  }

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: mixins.toRem(8);
    height: mixins.toRem(2);
    background-color: var(--accent-color);
    translate: calc(-50% - mixins.toRem(2)) -50%;
    transform-origin: left center;

    .loaded & {
      transition: all 0.3s ease 0s;
    }

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      display: none;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: mixins.toRem(12);
    height: mixins.toRem(2);
    background-color: var(--accent-color);

    .loaded & {
      transition: all 0.3s ease 0s;
    }

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      display: none;
    }
  }

  &::before {
    translate: -50% calc(-50% - mixins.toRem(4));
  }

  &::after {
    translate: -50% calc(-50% + mixins.toRem(4));
  }

  .menu-open & {
    background-color: var(--green-accent-color);
    color: var(--white-color);

    &::before,
    &::after,
    span {
      background-color: var(--white-color);
    }

    span {
      scale: 0;
    }

    &::before {
      rotate: 45deg;
      translate: -50% -50%;
    }

    &::after {
      rotate: -45deg;
      translate: -50% -50%;
    }

    i svg {
      rotate: -90deg;

      &:first-child {
        opacity: 0;
      }

      &:last-child {
        opacity: 1;
      }
    }
  }
}

.menu {
  flex: 1 1 auto;

  background-color: var(--plate-bg-color);
  border-radius: mixins.toRem(15);

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #66666666;
    backdrop-filter: blur(mixins.toRem(4));
    z-index: 4;
    opacity: 0;
    pointer-events: none;

    .loaded & {
      transition: all 0.3s ease 0s;
    }

    @media (width >=#{mixins.toEm(variables.$pc)}) {
      display: none;
    }

    .menu-open & {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__icon {
    @media (width >=#{mixins.toEm(variables.$pc)}) {
      display: none;
    }
  }

  &__body {
    height: 100%;

    @media (width < #{mixins.toEm(variables.$pc)}) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      max-width: mixins.toRem(480);
      background-color: var(--white-color);
      z-index: 4;

      height: 100dvh;
      display: flex;
      flex-direction: column;
      overflow: clip auto;
      padding: mixins.toRem(20) mixins.toRem(40);

      translate: -100% 0;
      pointer-events: none;

      .loaded & {
        transition: all 0.3s ease 0s;
      }

      .menu-open & {
        translate: none;
        pointer-events: all;
      }

      &:has(.catalog-header__content._active) {
        overflow: hidden;
      }
    }
  }

  &__head {
    display: flex;
    align-items: center;
    gap: mixins.toRem(10);

    &:not(:last-child) {
      margin-bottom: mixins.toRem(20);
    }
  }

  &__list {
    display: flex;

    @media (width >=#{mixins.toEm(variables.$pc)}) {
      // gap: mixins.toRem(8);
      height: 100%;
    }

    @media (width < #{mixins.toEm(1500)}) {
      // gap: mixins.toRem(4);
    }

    @media (width < #{mixins.toEm(variables.$pc)}) {
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: mixins.toRem(14);
      }
    }
  }

  &__item {

    &:has(svg),
    &:has(img) {
      color: var(--red-color);
    }

    .loaded & {
      transition: all 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent-hover-color);
      }
    }

    @media (width < #{mixins.toEm(variables.$pc)}) {
      color: var(--accent-color);
    }
  }

  &__link {
    height: 100%;
    display: flex;
    gap: mixins.toRem(8);
    font-weight: 500;
    font-size: mixins.toRem(16);
    line-height: 1.2;
    padding: clamp(5px, 2vw, 15px) clamp(5px, 5vw, 28px);

    @media (width < 1440px) {
      padding-inline: 18px;
    }

    @media (width < #{mixins.toEm(variables.$pc)}) {
      height: mixins.toRem(46);
      padding: mixins.toRem(12) mixins.toRem(16);
    }
  }

  &__bottom {}
}

.bottom-menu {
  display: flex;
  flex-direction: column;
  gap: mixins.toRem(21);
  margin-top: auto;

  &__callback {
    display: grid;
    grid-template-columns: mixins.toRem(22) auto;
    gap: mixins.toRem(7) mixins.toRem(6);
    align-items: center;

    span {
      grid-column: 1 / span 2;
      font-size: mixins.toRem(12);
      line-height: math.div(16, 12);
      color: var(--grey-color);
      white-space: nowrap;
    }

    i {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      font-weight: 600;
      font-size: mixins.toRem(20);
      line-height: math.div(24, 20);
      white-space: nowrap;

      .loaded & {
        transition: color 0.3s ease 0s;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        p {
          color: var(--accent-color);
        }
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: mixins.toRem(50);
    background-color: var(--accent-color);
    border-radius: mixins.toRem(15);
    color: var(--white-color);
    font-size: mixins.toRem(16);
    line-height: 1.2;
    font-weight: 600;

    .loaded & {
      transition: all 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--accent-hover-color);
      }
    }
  }
}

//==========================================================================================

.catalog-header {
  background-color: var(--white-color);
  z-index: 2;

  .loaded & {
    transition: opacity 0.3s ease 0s;
  }

  @media (width >=#{mixins.toEm(variables.$mobile)}) {
    position: fixed;
    left: 0;
    right: 0;
    top: calc(var(--headerHeight) + var(--bxPanelHeight, 0px) - var(--scrollY, 0px));
    max-height: calc(100dvh - var(--headerHeight) + var(--scrollY, 0px));
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
  }

  .catalog-open & {
    opacity: 1;
    pointer-events: all;
  }

  &__container {
    display: grid;
    grid-template-columns: mixins.toRem(284) auto;
    gap: mixins.toRem(18);
    height: 100%;

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      grid-template-columns: mixins.toRem(216) 1fr;
    }

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      grid-template-columns: 1fr;
      padding: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    overflow: clip auto;


    @media (width >=#{mixins.toEm(variables.$mobile)}) {
      padding: mixins.toRem(30) 0;
      padding-right: mixins.toRem(18);
      border-right: mixins.toRem(1) solid var(--stroke-color);
      max-height: calc(100dvh - var(--headerHeight) + var(--scrollY, 0px));
    }
  }

  &__link {
    display: flex;
    align-items: center;
    border-radius: mixins.toRem(4);
    padding: mixins.toRem(11) mixins.toRem(16);
    color: var(--accent-color);

    .loaded & {
      transition: all 0.3s ease 0s;
    }

    i {
      flex: 0 0 mixins.toRem(24);
      width: mixins.toRem(24);
      height: mixins.toRem(24);
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        fill: var(--accent-color);
      }

      &:last-child {
        margin-left: auto;
        opacity: 0.5;
      }
    }

    @media (width >=#{mixins.toEm(variables.$mobile)}) {
      &._active {
        background-color: var(--accent-light-color);
      }
    }

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      color: var(--black-color);

      i {
        svg {
          fill: var(--black-color);

          path {
            fill: var(--black-color);
          }
        }
      }
    }
  }

  &__body {
    overflow: clip auto;

    @media (width >=#{mixins.toEm(variables.$mobile)}) {
      padding: mixins.toRem(30) 0;
      max-height: calc(100dvh - var(--headerHeight) + var(--scrollY, 0px));
    }

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--white-color);
      padding: mixins.toRem(30) mixins.toRem(10);
      translate: 110%;
      pointer-events: none;

      .loaded & {
        transition: all 0.3s ease 0s;
      }

      &:has(.catalog-header__content._active) {
        translate: 0;
        pointer-events: all;
      }
    }
  }

  &__content {
    display: grid;
    gap: mixins.toRem(24);
    justify-content: start;
    align-items: center;

    @media (width < #{mixins.toEm(variables.$pc)}) {
      grid-template-columns: 1fr mixins.toRem(240);
    }

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      grid-template-columns: 1fr mixins.toRem(200);
    }
  }

  &__back {
    grid-column: 1 / span 2;
    display: flex;
    gap: mixins.toRem(10);
    font-size: mixins.toRem(12);
    line-height: 1.2;
    color: var(--grey-color);
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: mixins.toRem(16);
    }

    &::before {
      content: '';
      display: block;
      flex: 0 0 mixins.toRem(14);
      width: mixins.toRem(14);
      height: mixins.toRem(14);
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.31689 7.00041L9.20428 9.88773L8.37933 10.7127L4.66699 7.00041L8.37933 3.28809L9.20428 4.11304L6.31689 7.00041Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    }

    @media (width >=#{mixins.toEm(variables.$mobile)}) {
      display: none;
    }
  }

  &__title {
    font-weight: 600;
    font-size: var(--font-size);
    letter-spacing: mixins.lsp(-3);
    @include mixins.adaptiveValue("--font-size", 24, 22, 1280, 767);
  }

  &__allink {
    padding: mixins.toRem(11) mixins.toRem(16);
    width: mixins.toRem(240);
    font-size: mixins.toRem(16);
    line-height: math.div(22, 16);
    color: var(--accent-color);
    border-radius: mixins.toRem(4);

    background-color: var(--accent-light-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .loaded & {
      transition: all 0.3s ease 0s;
    }

    i {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        fill: currentColor;
        width: mixins.toRem(9);
        height: mixins.toRem(9);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--white-color);
        background-color: var(--accent-hover-color);
      }
    }

    @media (width < #{mixins.toEm(variables.$mobile)}) {
      width: mixins.toRem(200);
    }
  }

  &__chapters {
    column-count: 4;
    column-gap: mixins.toRem(28);

    @media (width < #{mixins.toEm(variables.$pc)}) {
      grid-column: 1 / span 2;
      column-count: 3;
    }

    @media (width < #{mixins.toEm(variables.$tablet)}) {
      column-count: 2;
    }
  }

  &__chapter {
    break-inside: avoid;

    &:not(:last-child) {
      margin-bottom: mixins.toRem(28);
    }
  }

  &__chaptertitle {
    font-size: mixins.toRem(15);
    font-weight: 600;
    line-height: math.div(21, 15);

    &:not(:last-child) {
      margin-bottom: mixins.toRem(14);
    }
  }

  &__chapterlink {
    display: block;
    font-size: mixins.toRem(14);
    line-height: math.div(20, 14);
    color: var(--accent-color);

    &:not(:last-child) {
      margin-bottom: mixins.toRem(10);
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent-hover-color);
        text-decoration: underline;
      }
    }
  }
}