@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@use "sass:meta";
@use "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================

// Подключить если есть локальные файлы шрифтов
//@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";
@use 'variables';
@use 'base/colors-palette';

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// // Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@use "base/null";

// Подключение компонентов tailwind ============================================================================================================================================================================================== =============================================================================================== ===========================================================================
// @import "libs/tailwind";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
  // padding-top: var(--bxPanelHeight);
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

// (i) Стили будут применяться к
// всех классов, содержащих *__container
// Например header__container, main__container і т.п.
// Сниппет (HTML): cnt

:root {
  @include mixins.adaptiveValue("--padding-left", math.div(variables.$containerPadding, 2), 10, 1280, 992);
  @include mixins.adaptiveValue("--padding-right", math.div(variables.$containerPadding, 2), 10, 1280, 992);
}

@if (variables.$responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if (variables.$maxWidthContainer>0) {
			max-width: mixins.toRem(variables.$containerWidth);
			margin: 0 auto;
		}
		@if (variables.$containerPadding>0) {
      padding-left: var(--padding-left);
      padding-right: var(--padding-right);
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if (variables.$maxWidthContainer>0) {
			max-width: mixins.toRem(variables.$containerWidth);
		} @else {
			@if (variables.$containerPadding>0) {
				padding: 0 mixins.toRem(math.div(variables.$containerPadding, 2));
			}
		}
		@media (max-width: variables.$pc) {
			max-width: mixins.toRem(970);
		}
		@media (max-width: variables.$tablet) {
			max-width: mixins.toRem(750);
		}
		@media (max-width: variables.$mobile) {
			max-width: none;
			@if (variables.$containerPadding>0 and variables.$maxWidthContainer>0) {
				padding: 0 mixins.toRem(math.div(variables.$containerPadding, 2));
			}
		}
	}
}

// (i) Экспериментальный функционал
// Замена ограничивающего контейнера
[class*="--gc"] {
	@include mixins.gridContainer();
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@include meta.load-css("base");

// Подключение стилей общих элементов проекта
@include meta.load-css("common");
@include meta.load-css("popups");

// Подключение стилей отдельных блоков
@include meta.load-css("header");
@include meta.load-css("footer");
@include meta.load-css("faq-listing");

// Подключение стилей отдельных страниц
@include meta.load-css("home");
@include meta.load-css("listing");
@include meta.load-css("product");
@include meta.load-css("cart");
@include meta.load-css("comparsion");
@include meta.load-css("ui-kit");
